<app-nav-bar></app-nav-bar>
<div dir="rtl">
  <input #inpName type="text" placeholder="שם:" />
  <input #inpStars type="number" placeholder="רמה:" />
  <button (click)="addPlayer(inpName.value, +inpStars.value)">
    הוסף שחקן
  </button>
</div>
<div dir="rtl">
    <button (click)="makeTeams()">חלק לקבוצות</button>
</div>

<div class="levelPlayers">
  <div class="levelPlayers2" *ngFor="let playersLevel of playersByLevel">
    <app-players-by-level [players]="playersLevel"></app-players-by-level>
  </div>
</div>

